.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 15rem;
    height: 132px;
    /* margin: 10px; */ 
    background: linear-gradient(180deg, rgba(17, 2, 3, 0.7) 10%, rgba(248, 245, 245, 0.979) 100%);
  }
  
  .cardImage {
    border-radius: inherit;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  
  .cardContent {
    position: relative;
    bottom: 80px;
    left: 30px;
  }

  