.selectedCountriesDiv,
.selectedCountryInput {
  border-radius: 100px;
}

.selectedCountriesDiv {
  background-color: white;
  color: var(--text-color);
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.selectedCountriesDivFocus,
.selectedCountriesDiv:focus {
  border-radius: 10px 10px 0 0;
}

.selectedCountryInput {
  outline: none;
  border: none;
  width: 100%;
  padding: 15px 20px;
  font-family: var(--global-font-family);
  font-size: medium;
  text-overflow: ellipsis;
}

.countriesListDiv {
}
