:root {
  --text-white: white;
}

.searchContainerDiv,
.searchWrapperDiv,
.displayFlexAndColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.searchContainerDiv {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 30px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../assets/hero.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--main-border-radius);
}

.searchContainerHeading {
  font-size: 3em;
  color: var(--text-white);
}

.searchWrapperDiv {
  color: var(--text-white);
}
