:root {
  --text-white: white;
}

.searchContainerDiv,
.searchWrapperDiv,
.displayFlexAndColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.searchContainerDiv {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 30px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../assets/hero.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--main-border-radius);
}

.searchContainerHeading {
  font-size: 3em;
  color: var(--text-white);
}

.searchWrapperDiv {
  margin-top: 30px;
  color: var(--text-white);
  width: 40%;
}

.visaSelectDiv,
.searchCountryDiv {
  width: 100%;
  /* background: green; */
}

.searchCountryDiv {
  margin: 10px 0;
}

.confirmationSmall {
  text-align: center;
}

.searchContainerButton {
  background-color: #f59830;
  padding: 15px 25px;
  border-radius: 50px;
  letter-spacing: 2px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  cursor: pointer;
}
