.selectTypesDiv,
.visaListItem {
  padding: 15px 20px;
}

.selectTypesDiv {
  background-color: white;
  color: var(--text-color);
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
}

.selectTypesDiv:focus {
  border-radius: 10px 10px 0 0;
}

.visaTypesListDiv {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  width: 100%;
  border-top: 1px solid black;
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%),
    0 3px 14px 2px rgb(0 0 0 / 12%);
  opacity: 0;
  border-bottom-left-radius: 10px;
  pointer-events: none;
  z-index: 1;
}

.selectTypesDiv:focus > .visaTypesListDiv {
  opacity: 1;
  transition: opacity 0.3s;
  transition-delay: 0.2s;
  pointer-events: all;
}

.visaTypesList {
  max-height: 300px;
  overflow: auto;
}

.visaListItem {
  transform: translateY(-50%);
}

.selectTypesDiv:focus .visaListItem {
  transform: translateY(0);
  transition: transform 0.3s;
  transition-delay: 0.2s;
}

.visaListItem:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.itemSelected {
  color: #306fab;
  background-color: #d9e3ef;
}

.itemSelected:hover {
  background-color: #d9e3ef;
}
